@model IEnumerable<BusinessLayer.DataTransferObjects.SkillTagDto>

@if (Request.IsAuthenticated && User.IsInRole("Employer"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <span class="badge" style="font-size: 1.2em">@Html.DisplayFor(modelItem => item.Name)</span>
                </td>
            <td>
                <a class="btn btn-success btn-sm" href="@Url.Action("OffersBySkill", "JobOffer", new {id = item.Id}, null)">
                    See Jobs<i class="glyphicon glyphicon-new-window ml-2" style="margin-left: 0.5rem"></i>
                </a>
            </td>
        </tr>
    }

</table>