@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Job Portal</h1>
    <ul>
        <li class="lead">Find your dream job</li>
        <li class="lead">Offer jobs to others</li>
    </ul>
    <p class="lead">
    <div class="row">
        @Html.ActionLink("Register as user","RegisterUser", "Account", null,  new { @class = "btn btn-primary btn-lg" })       
        @Html.ActionLink("Register as employer","RegisterEmployer", "Account", null,  new { @class = "btn btn-primary btn-lg" })       
        @Html.ActionLink("Continue to job offers","Index", "JobOffer", null,  new { @class = "btn btn-primary btn-lg" })       

    </div>
</div>